
            
            <div class="added-hotels">
                <a href="/products/details/{{_id}}" class="added-hotel">
                    <img src="{{imageUrl}}" alt=""
                        class="picture-added-hotel">
                    <h3>{{hotel}} {{city}}</h3>
                    <span>Free rooms: {{freeRooms}}</span>
                </a>
              
            </div>
            <!-- <div class="guest">
                There are no Hotels found...
            </div> -->
        