 <main>
            {{!-- <section id="edit-page">
                <div class="edit-container">
                    <div class="box-image">

                    </div>
                    <h2 class="box-heading">
                        Edit Home
                    </h2>

                    <form class="form" action="" method="POST">
                        <div class="input">
                            <input type="text" class="input-field" id="home-name" name="name" value="{{result.name}}" />
                            <label class="home-name">Name:</label>
                        </div>
                        <div class="input">
                            <input type="text" class="input-field" id="type" name="type" value="{{result.type}}" />
                            <label class="type">Property Type:</label>
                        </div>
                        <div class="input">
                            <input type="number" class="input-field" id="year" name="year" value="{{result.year}}" />
                            <label class="year">Year Built:</label>
                        </div>
                        <div class="input">
                            <input type="text" class="input-field" id="city" name="city" value="{{result.city}}" />
                            <label class="city">City</label>
                        </div>

                        <div class="input">
                            <input type="text" class="input-field" id="homeImage" name="imageUrl" value="{{result.imageUrl}}" />
                            <label class="homeImage">Home Image:</label>
                        </div>

                        <div class="input">
                            <input type="text" class="input-field" id="description" name="description" value="{{result.description}}" />
                            <label class="description">Property Description:</label>
                        </div>

                        <div class="input">
                            <input type="number" class="input-field" id="availablePieces" name="available" value="{{result.available}}" />
                            <label class="availablePieces">Available pieces:</label>
                        </div>

                        <div class="create-action">
                            <button class="create-button">Edit</button>
                        </div>
                    </form>
                </div>
            </section> --}}
             <section id="edit-page">
                <div class="editSection">
                    <div class="info">
                        <h2>Edit your own post!</h2>
                    </div>

                    <form action="" method="POST" class="editForm">
                        <h2>Edit Post</h2>
                        <ul class="noBullet">
                            <li>
                                <label for="title">Title:</label>
                                <input type="text" class="inputFields" id="title" name="title" value="{{result.title}}" />
                            </li>
                            <li>
                                <label for="key-word">Keyword:</label>
                                <input type="text" class="inputFields" id="keyword" name="keyword" value="{{result.keyword}}" />
                            </li>
                            <li>
                                <label for="location">Location:</label>
                                <input type="text" class="inputFields" id="location" name="location" value="{{result.location}}" />
                            </li>
                            <li>
                                <label for="date">Date of creation:</label>
                                <input type="text" class="inputFields" id="date" name="dateCreation" value="{{result.dateCreation}}" />
                            </li>
                            <li>
                                <label for="image">Wildlife image:</label>
                                <input type="text" class="inputFields" id="image" name="imageUrl" value="{{result.imageUrl}}" />
                            </li>
                            <li>
                                <label for="description">Description:</label>
                                <textarea id="description" class="inputFields" name="description">{{result.description}}</textarea>
                            </li>
                            <li id="center-btn">
                                <button id="edit-btn">Edit</button>
                            </li>
                        </ul>
                    </form>

                </div>
            </section>

        </main>