{{!-- <section class="container">

 <div class="">
    <img class=""
        src="{{imageUrl}}">
    <p class=""><span>Name:</span>   {{name}}</p>
    <p><span>Description:</span>   {{description}}</p>
    <a class="btn" href="/products/details/{{_id}}">Details</a>
</div>

</section> --}}
        <div>
            <div class="home-image">
                <img src="{{imageUrl}}" alt="Card image cap" width="400">
            </div>
            <div class="info">
                <h4>{{title}}</h4>
            </div>
        </div>
   
